.question__answer--other { 
	background-color: transparent;
	border: 1px dashed #fff;
	input[type="text"] {
		width: 100%;
		padding: 9px;
		background-color: transparent;
		font-family: Gotham-Book;
		font-size: 1rem;
		color: #22292e;
		border: none;
		&::-webkit-input-placeholder { 
			color: #22292e;
			opacity: 1;
		}
		&:focus {
			&::-webkit-input-placeholder {
				opacity: 0.6;
			}
		}
	}
}


