.question__answer--other { 
	input[type="text"] {
		width: 100%;
		padding: 9px;
		font-size: 1rem;
		color: #247343;
		border: none;
		&::-webkit-input-placeholder { 
			color: #247343;
			opacity: 1;
		}
		&:focus {
			&::-webkit-input-placeholder {
				opacity: 0.6;
			}
		}
		&.invalid {
			background-color: #FFC7C0;
			color: #fff;
			&::-webkit-input-placeholder {
				color: #fff;
			}
		}
		
	}
}

